.input_div {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 26px;
    align-items: center;
}

.input_label {
    flex: 1;
    margin-right: 10%;
    text-align: start;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.input_input {
    background-color: white;
    border: 2px solid var(--second-color);    
    border-radius: 60px;
    height: 30px;
    width: 100%;

    text-align: center;

    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 42px;
    color: rgba(0, 0, 0, 0.52);
}