.optionlist_select {
    border-radius: 15px;
    height: 41px;
    width: 25%;

    background: #FFFFFF;
    border: 2px solid var(--second-color);
    border-radius: 20px;


    text-align: center;
    color: rgba(0, 0, 0, 0.52);
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
}