.bloc_course {
    margin: 2.5% 2.5% 0 2.5%;
    width: 27%;
    overflow: hidden;
}

.bloc_course_icon {
    margin: 0 0 -15% 36%;
    height: 35%;
    width: 30%;
    border-radius: 50%;
    background-color: var(--main-color);
}

.bloc_course_icon_img {
    margin: 15% 0 0 15%;
    max-width: 70%;
    max-height: 70%;
}

.bloc_course_image {
    position: relative;
    border-radius: 10%;
    width: 100%;
    z-index: -1;
}

.bloc_course_title {
    display: flex;    
    justify-content: center;

    position: relative;
    top: -45%;
    width: 100%;
    
    background: #000000AA;
    color: whitesmoke;
    font-size: 20px;
}