.footer_div {
    background-color: #2F2F2F;
    width: 100%;
    height: 160px;
    display: flex;
    position: absolute;
    bottom: 0;
}

.footer_imgs_emplacement {
  
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_imgs_emplacement a {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.footer_imgs_emplacement img {
    max-height: 100%;
    display: flex;
    margin-left: 10%;
    
}

.footer_text_emplacement {
    flex: 1;
   margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer_list {
    margin: 25px 0 16px 0;
    height: 60%;
    color: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.footer_list_item {
    margin-top: 10px;
}

.footer_list_item a {
    text-decoration: none;
    color: white;
}

@media ( max-width: 620px) {
    .footer_imgs_emplacement {
        height: 75%;

    
    }
    .footer_imgs_emplacement a {
        height: 40%;
        margin-left: 10%;
        
        display: flex;
    }

    
    .footer_text_emplacement {
        height: 25%;
    }
    .footer_list {
        height: 0;
    }
    .footer_div{
        flex-direction: column;
       
    }
    .footer_list_item {
        margin-top: 0;

    }
    
  
}