.menu_bar_text_editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    border-bottom: solid 1px var(--second-color);
}

.menu_bar_text_editor .is-active {
    background-color: var(--main-color);
}

.menu_bar_text_editor button, .menu_bar_text_editor input {
    flex: 1;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    min-height: 30px;
    margin: 5px;
}