.create_cours_inputs {
    margin: 0 5% 0 5%;
}
.create_cours_titre_cours {
    width: 100%;
    display: flex;
    justify-content: center;
}
.create_cours_p {
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.create_cours_info_generale{
    display: flex;
    flex-direction: row;
    margin: 0 5% 0 5%;
}

.create_cours_info_generale .input_input {
    margin-right: 20px;
}

.buttons_div {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    margin: 0 10% 0 10%;
}

.buttons_div > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.create_course_text_editor {
    display: flex;
    justify-content: center;
    padding: 30px;
}