.tips_course {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tips_course_title {
    margin: 0 auto -30px 35%;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
}

.tips_course_emplacement {
    width: 63%;
    display: flex;
    align-items: center;
}

.tips_course_circle {
    border-radius: 50%;
    width: 172px;
    height: 172px;
    z-index: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.tips_course_rectangle {
    margin-left: -10%;
    border-radius: 15px;
    width: 76%;
    height: 120px;
    z-index: -1;
    display: flex;
    align-items: center;
}

.tips_course_text {
    margin: auto 3% auto 13%;
    text-align: justify;
}

.tips_course_bordercolor_yellow{
    border: 8px solid #FACE34;
    background-color: #FFF3CA;
}

.tips_course_bordercolor_blue{
    border: 8px solid #009EE2;
    background-color: #FFFFFF;
}

.tips_course_bordercolor_red {
    border: 8px solid #D41F1F;
    background-color: #FEC3C3;
}