.home_page_text {
    padding: 16px;
    text-align: justify;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}

.home_page_blocs_courses {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}