.bloc_matiere_list {
    margin: 50px 0 50px 0;
    list-style: none;
}

.bloc_matiere_list_item {
    margin: 0px 0 41px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}