/*Global css*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
html {
    --main-color: #009EE2;
    --second-color: #C6C6C6;
    --third-color : #005794;
    font-family: "Open Sans";
}

body {
    margin: 0;
    font-family: "Open Sans";
}

/* Scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) var(--second-color);
}

/* Scrollbar for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--second-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
    border: 1px solid var(--second-color);
}