/*Global css*/
html {
    --main-color: #009EE2;
    --second-color: #C6C6C6;
}

body {
    margin: 0;
}

/* Scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) var(--second-color);
}

/* Scrollbar for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--second-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 20px;
    border: 1px solid var(--second-color);
}